CONFIG_APP_REPRODUCIBLE_BUILD=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=160
CONFIG_ESPMARK_BOARD_VENDOR="Seeed Studio"
CONFIG_ESPMARK_BOARD_NAME="XIAO ESP32C6"
CONFIG_ESPMARK_MODULE_NAME="ESP32-C6"
CONFIG_ESPMARK_RUN_LABEL="local-xiao-c6"
CONFIG_ESPMARK_CPU_REPEAT=20
CONFIG_ESPMARK_CPU_INNER_ITERATIONS=25000

